.container {
    width: 100;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: rgb(232, 223, 225);
}

.calculator {
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(0, 8%, 3%);
}

form input {
    border: none;
    outline: 0;
    width: 60px;
    height: 60px;
    font-size: 16px;
    background-color: rgb(83, 165, 154);
    margin: 2px;
    border-radius: 15px;
    color: rgb(39, 40, 40);
    font-weight: 900;
    cursor: pointer;
}

form input[type='button']:hover{
    background-color: rgb(4, 99, 87);
}
form.display {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0px 15px 0px;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 40px;
    padding: 5px 95px;
    background-color: beige;
}

form input.equal{
    width: 120px;
}